[mysqld]
pid-file         = /var/run/mysqld/mysqld.pid
socket           = /var/run/mysqld/mysqld.sock

datadir          = /data/mysql/data
tmpdir           = /var/run/mysqld

default_storage_engine = InnoDB
innodb_file_per_table
character_set_server   = utf8mb4
collation_server       = utf8mb4_general_ci
sql_mode               = STRICT_ALL_TABLES,NO_ZERO_DATE,NO_ZERO_IN_DATE,ERROR_FOR_DIVISION_BY_ZERO

slave_parallel_workers                  = 8
slave_parallel_type                     = LOGICAL_CLOCK
relay_log                               = /data/mysql/logs/relaylog
slave_checkpoint_group                  = 1024
slave_checkpoint_period                 = 500
slave_pending_jobs_size_max             = 32M
slave_sql_verify_checksum               = ON
relay_log_info_repository               = TABLE
relay_log_recovery                      = ON
relay_log_purge                         = ON
master_info_repository                  = TABLE
sync_master_info                        = 10000
master_verify_checksum                  = OFF
slave_net_timeout                       = 30
sync_binlog                             = 0
log_bin                                 = /data/mysql/logs/binlog
max_binlog_size                         = 100M
expire_logs_days                        = 3
binlog_format                           = ROW
binlog_row_image                        = full
binlog_rows_query_log_events            = ON
slave_preserve_commit_order             = ON
binlog_order_commits                    = OFF
log_slave_updates                       = 1
gtid_mode                               = ON
enforce_gtid_consistency                = ON
log_bin_trust_function_creators         = 1

skip-host-cache
skip-name-resolve
